<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<p>Search my gitHub account:<br />
  <input type="text" id="searchbox" onchange="search();" target="_blank">
  <a href="" id="searcher" class="button">search</a>
</p>
    <script>
    function search() {
      let url = 'https://github.com/search/advanced?q=user%3Atigoe+';
      let term = document.getElementById('searchbox').value;
      url += term;
      url += '&type=Repositories&ref=advsearch&l=&l=';
      let mySearchLink = document.getElementById("searcher");
      mySearchLink.href = url;
      mySearchLink.click();
    }
  </script> 

<!-- end custom head snippets -->
