<p class="header">
  <a href="{{site.baseurl}}">Home</a> <br /> 

Connectivity:
  <a href="{{site.baseurl}}/html-for-conndev">HTML For Connected Devices</a> <br /> 
  <a href="{{site.baseurl}}/mqtt-examples">MQTT Client examples</a> <br /> 
  <a href="{{site.baseurl}}/websocket-examples">WebSocket Client examples</a> <br /> 
  <a href="{{site.baseurl}}/Wifi101_examples">Arduino WiFi examples</a> <br /> 
  <a href="{{site.baseurl}}/DataloggingExamples">Arduino Datalogging Examples</a> <br /> 
  <a href="{{site.baseurl}}/PiRecipes">Raspberry Pi Recipes</a> <br /> 
  <a href="{{site.baseurl}}/NodeExamples">Node.js Server and Client Examples</a> <br /> 
  <a href="{{site.baseurl}}/BluetoothLE-Examples">Bluetooth LE Examples</a> <br /> 

Arduino:
  <a href="{{site.baseurl}}/ArduinoGeneralExamples">Arduino General Examples</a> <br /> 
  <a href="{{site.baseurl}}/SoundExamples">Arduino Sound and MIDI Examples</a> <br /> 
  <a href="{{site.baseurl}}/SensorExamples">Arduino Sensor Examples</a> <br /> 
  <a href="{{site.baseurl}}/display-examples">Arduino Display Examples</a> <br /> 

Light:
  <a href="{{site.baseurl}}/LightProjects">Light Projects</a> <br /> 
  <a href="{{site.baseurl}}/hue-control">Philips Hue Control</a> <br /> 
  <a href="{{site.baseurl}}/DMX-Examples">DMX-512 Examples</a> <br /> 
  <a href="{{site.baseurl}}/ArduinoLifx">LIFX Light Bulb Control (Arduino library)</a> <br /> 
  <a href="{{site.baseurl}}/HolidayLights">Holiday Lights</a> <br /> 
  <a href="{{site.baseurl}}/CandleProject">Candle Project</a> <br /> 

Raspberry Pi:
  <a href="https://itpnyu.github.io/clock-club">Clock Club</a> <br /> 

</p>